body{
    background-color:#001F3F;
}
form{
    margin: auto;
    width: 350px;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    margin: 100px;
}
#case1{
    width: 500px;
    margin: 40px;

}
#case2{
    width: 700px;
    margin-right: 40px;
}
img{
    height: 100px;
    margin: 20px;
    margin-left: 50px;
    margin-bottom: 0px;
}
label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(31, 55, 31);

}
#eml1{
    width: 300px;
    height: 25px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    margin-left: 30px;

}
#mdp,#eml{
    width: 300px;
    height: 25px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px;

}
fieldset{
    border-radius: 20px;
}
#r{
    height: 18px;
    border-radius: 2px;
    border-color: aqua;
    border: black;
}
#bt{
    width: 260px;
    height: 45px;
    margin-left: 40px;
    margin-top:20px ;
    background-color: rgb(45, 97, 45);
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}
#p1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 20px;
}
h1{
    font-weight: bold;
    color: white;
    font-size: 60px;
}
#p2{
    color: white;
    font-size: 18px;
}
h3{
    text-align: center;
    font-weight: bold;
    color: rgb(31, 55, 31);
    font-size: 25px;
}
a{
    padding: 10px;
    color: rgb(7, 99, 86);
    font-size: 20px;
    text-align: center;
}
p{
    font-size: 20px;
}
#h{
    color: rgb(31, 55, 31);
    text-align: center;
    font-size: 25px;
}
#f2{
    margin: auto;
    width: 400px;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    margin-top: 60px;
}
#l{
    margin-left: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
#bt1{
    width: 280px;
    height: 45px;
    margin-left: 60px;
    margin-top:20px ;
    background-color: rgb(45, 97, 45);
    border-radius: 20px;
    font-size: 16px;
    margin-bottom: 20px;
    color: white; 
    font-weight: bold;   
}
#aa{
    text-align: center;
}
#f3{
    margin: auto;
    width: 400px;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    margin-top: 30px;
}
#mdp1,#rmdp,#nom,#pre{
    width: 150px;
    height: 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px;
    margin-right: 10px;
    
}
#place1,#place2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: red; 
}
#place3{
    margin-left: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: red;
}
